/*! B         !*/
/*! L - F - N !*/
/*! A - O - O !*/
/*! N - R - W !*/
/*! K         !*/

/* ? VARIABLES ? */
:root {
  --psychic: rgb(139, 66, 207);
}

/* ? DEFAULT STYLING ? */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Caveat";
}
body {
  margin: 0 auto;
  max-width: 1270px;
  min-height: 100vh;
  background: linear-gradient(silver 0%, gold 50%, rgb(190, 58, 58) 100%) no-repeat;
}
main {
  font-size: 2rem;
  text-align: center;
}
#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 15vh;
  mix-blend-mode: color-burn;
}
#logo {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

#nav {
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
#nav li {
  list-style-type: none;
}
#nav a:hover {
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(104, 7, 7);
}
#nav a {
  text-decoration: none;
  color: black;
}
/* ? INDEX STYLING */

.index__main {
  background: url(/images/pikachu.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}
.index__h1 {
  text-align: end;
  margin-top: 5rem;
}
.index__welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60vh;
  align-items: center;
  margin: 0;
}

#index__content {
  height: 50vh;
  border-radius: 5rem;
  width: 55%;
  border: 0.1em solid rgb(231, 180, 13);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

/* * Pokedex STYLING * */
h1 {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1rem;
}
.pokedex__main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

/* ! POKEMON CARD STYLING */
.pokemon__card {
  display: grid;
  grid-template-areas:
    "image image image"
    "title title title"
    "type type type"
    "desc desc desc"
    "stats stats stats";
  border: 1px solid silver;
  border-radius: 1rem;
  width: 30rem;
  height: 40rem;
  padding: 0;
  margin: 0;
  z-index: 10;
  background: linear-gradient(white 0%, rgb(221, 198, 198) 100%);
  cursor: pointer;
}
.transition {
  transition: 1s;
}
.pokemon__image {
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  grid-area: image;
  border-bottom: 1px solid silver;
  transition: 1s;
  z-index: 10;
}
.pokemon__image img {
  max-width: 30rem;
  max-height: 15rem;
  aspect-ratio: 3/3;
  object-fit: contain;
}
.pokemon__name {
  text-align: center;
  font-size: 2rem;
  grid-area: title;
  transition: 2s;
}
.pokemon__type {
  text-align: center;
  grid-area: type;
  transition: 1s;
}
.pokemon__stats {
  padding: 0;
  margin: 0;
  display: grid;
  background-color: aqua;
  grid-area: stats;
  grid-template-areas:
    "hp attack def"
    "sp-attack sp-def speed";
  border-radius: 1rem;
  grid-template-rows: 1fr 1fr;
  transition: 1s;
}
.pokemon__stats div {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}
.hp {
  border-right: 1px solid silver;
  grid-area: hp;
  box-sizing: border-box;
  min-width: 10rem;
  background: linear-gradient(rgb(174, 211, 174) 0%, rgb(18, 187, 18) 100%);
}
.attack {
  border-right: 1px solid silver;
  grid-area: attack;
  box-sizing: border-box;
  min-width: 10rem;

  background: linear-gradient(rgb(221, 161, 161) 0%, rgb(189, 15, 15) 100%);
}
.def {
  grid-area: def;
  box-sizing: border-box;
  min-width: 10rem;
  background: linear-gradient(rgb(131, 151, 206) 0%, rgb(19, 72, 219) 100%);
}
.sp-attack {
  border-right: 1px solid silver;
  grid-area: sp-attack;
  border-radius: 0 0 0 1rem;
  box-sizing: border-box;
  min-width: 10rem;
  background: linear-gradient(rgb(211, 199, 218) 0%, rgb(85, 13, 153) 100%);
}
.sp-def {
  border-right: 1px solid silver;
  grid-area: sp-def;
  box-sizing: border-box;
  min-width: 10rem;
  background: linear-gradient(rgb(182, 173, 155) 0%, rgb(53, 32, 8) 100%);
}
.speed {
  grid-area: speed;
  border-radius: 0 0 1rem 0;
  box-sizing: border-box;
  min-width: 10rem;
  background: linear-gradient(rgb(196, 205, 230) 0%, rgb(209, 172, 6) 100%);
}

/* ! Animation ! */
@keyframes animated {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.animated:hover::after {
  content: "";
  position: absolute;
  inset: -1rem;
  animation: animated 6s linear infinite;
  z-index: -2;
  border-radius: 1rem;
  filter: blur(0.5rem);
}

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 0.3s linear 7;
  animation: rotate-vert-center 0.3s linear 7;
}
/* ! COLOR OF POKEMON TYPE - Connected with switch ! */
.fire:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(189, 15, 15) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.water:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(45, 62, 214) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.ice:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(118, 218, 243) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.psychic:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(86, 24, 185) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.normal:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(209, 202, 202) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.fairy:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(204, 113, 199) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.electric:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(224, 210, 7) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.grass:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(93, 236, 74) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.fighting:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(58, 9, 9) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.poison:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(31, 9, 61) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.ghost:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(17, 14, 14) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.dragon:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(155, 84, 3) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.bug:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(19, 78, 8) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.ground:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(66, 40, 10) 50%, white 100%) repeat 0% 0% / 300% 100%;
}
.rock:hover::after {
  background: linear-gradient(45deg, white 0%, rgb(70, 65, 65) 50%, white 100%) repeat 0% 0% / 300% 100%;
}

.hidden div,
.hidden h2,
.hidden p {
  visibility: hidden;
}
/*** SHOP STYLING ***/

.coin {
  width: 1.5rem;
}
.single-product {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  border: silver 0.2rem solid;
}
.pricetag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: silver 0.2rem solid;
}
.pricetag p {
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: gold;
}
.pokeball {
  padding-top: 2rem;
}
.shop__main {
  box-sizing: border-box;
}
.shop__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: white;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 5rem 5rem 0 0;
}
.shop__items {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.shop__items a {
  text-decoration: none;
  color: black;
  padding: 3rem;
}
.active {
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(104, 7, 7);
}
.shop__nav p {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}
#balance {
  padding: 0.5rem;
  color: gold;
}
#balance + .coin {
  margin-right: 1rem;
  width: 2rem;
}
#shop__cards {
  padding: 5rem 0;
  background: url(/images/shop-background.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#potions,
#boosts,
#pokecoins {
  display: none;
}
#potions p,
#boosts p,
#pokecoins p {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}
#pokeboxes {
  display: none;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  grid-template-rows: minmax(35rem, 35rem);
  justify-items: center;
  height: 70vh;
  align-content: center;
}
#pokeboxes div img {
  aspect-ratio: 2/2;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}
#box-opening {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  font-size: 3.5rem;
  font-weight: 600;
  color: green;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}
.result {
  padding: 2.5rem;
}
.buttons__section {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.buttons__section button {
  font-family: "Caveat";
  padding: 1.5rem;
  max-width: 12rem;
  text-transform: uppercase;
  border: 0.2rem rgb(119, 8, 8) solid;
  border-radius: 3rem;
  font-weight: 600;
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  cursor: pointer;
}
#add-to-collection {
  background: linear-gradient(360deg, rgb(131, 212, 131) 0%, green 100%);
}
#sell {
  background: linear-gradient(360deg, rgb(224, 136, 141) 0%, rgb(117, 5, 5) 100%);
}
#add-to-collection:hover {
  background: linear-gradient(180deg, rgb(131, 212, 131) 0%, green 100%);
}
#sell:hover {
  background: linear-gradient(180deg, rgb(224, 136, 141) 0%, rgb(117, 5, 5) 100%);
}

/* ! Your Collection tab styling */

.collection__main {
  display: flex;
  flex-direction: column;
}
.collection__sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
.collection__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#refresh {
  padding: 0;
  align-self: center;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
}
#refresh img {
  max-width: 4rem;
  position: relative;
  top: 3px;
  transition: 1s;
  object-fit: cover;
}
#refresh img:hover {
  transform: rotate(360deg);
}
.collection__nav button {
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 2rem;
  min-width: 5rem;
  font-family: "Caveat";
  font-size: 2rem;
  background-color: white;
  cursor: pointer;
}
.collection__nav button:hover,
.collection__sort-container div a:hover {
  opacity: 0.5;
}

.collection__sort-container div {
  display: none;
  padding-bottom: 2rem;
  gap: 1rem;
}
.collection__sort-container div a {
  padding: 1rem;
  border: 0.1rem solid silver;
  background-color: white;
  border-radius: 3rem;
  min-width: 5rem;
  cursor: pointer;
}
#collection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 670px) {
  #pokeboxes {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
  }
}
